@model PostVoteViewDTO

@if(Model != null)
{


    <input type="hidden" id="votePostId" name="votePostId" value="@Model.PostId" />

    <button onclick="fnSubmitVote(true);" type="button" class="btn btn-success position-relative">
        Likes
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model.Like
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>


    <button onclick="fnSubmitVote(false);" type="button" class="btn btn-warning position-relative">
        Dislikes
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model.Dislike
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>
}

