@model PostVoteViewDTO

@if (Model != null)
{
    

        <div id="voteContainer" class="d-flex justify-content-end gap-2 my-2">

            <input type="hidden" id="votePostId" name="votePostId" value="@Model.PostId" />
            <button onclick="fnSubmitVote(true);" type="button" class="btn btn-outline-success btn-sm">
                <span><i class="bi bi-hand-thumbs-up-fill"></i></span>
                <span>Like</span>
                <span>@Model.Like</span>
            </button>


            <button onclick="fnSubmitVote(false);" type="button" class="btn btn-outline-danger btn-sm">
                <span><i class="bi bi-hand-thumbs-up-fill"></i></span>
                <span>Dislike</span>
                <span>@Model.Dislike</span>
            </button>


        </div>








}

