@model PostReadDTO

@{
    ViewData["Title"] = "Delete Post";
}

<div>
    Are you sure you want to delete this?
</div>

<partial name="_ValidationSummary" model=@ViewData />

<form asp-action="Delete" method="post">

    <partial name="_PostRead" model=@Model />


    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Post" asp-action="MyPosts" class="btn btn-secondary">Cancel</a>
</form>
