@model PostReadViewModel

@{
    ViewData["Title"] = "Read Post";
    PostCommentCreateDTO postCommentCreateDTO = new PostCommentCreateDTO()
    {
        PostId = Model.Post.Id,
        ApplicationUserInfoId = Model.Post.ApplicationUserInfoId
    };
}


<partial name="_PostCard" model="@Model.Post" />

<div id="divShowVotes">
    <partial name="_PostVotes" model="@Model.Votes" />
</div>

<partial name="_CreateComment" model="@postCommentCreateDTO" />

<div id="divCommentsList">
    <partial name="_PostComments" model="@Model.Comments" />
</div>



