@{
    ViewData["Title"] = "Home Page";
}

<div>
    <span>App: </span>
    @ViewBag.AppName
</div>

<div>
    <span>Version: </span>
    @ViewBag.Version
</div>

<div>
    <span>Env: </span>
    @ViewBag.Environment

</div>


